nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #4a5568;;
}
ul li {
    position: relative;
    margin: 0 20px;
    list-style: none;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: blue;
}