html {
    overflow-y: scroll;
}

body {
    background-color: #fff;
    color: #000;
    font-family: sans-serif;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

li {
    font-size: 0.7em;
    list-style-type: none;
}

pre, code {
    margin: 0;
}

a {
    color: #FFF;
}

#header a, #nav a, #menu a {
    text-decoration: none;
}

#nav a:hover {
    background-color: #ddd;
}

#about-logo {
    width: 100%
}

#menu {
    clear: both;
    color: #3000FF;
    overflow: hidden;
    background-color: #14a;
    padding: 0.7ex;
}

#menu a {
    padding: 0.5ex 1ex;
    color: #fff;
}

#menu a:hover {
    background-color: #069;
}

#header {
    background-color: #444;
    clear: both;
    color: #555;
    font-size: 1.78em;
    padding: 0.7ex 0.7ex 0.7ex 0.7em;
}

#headerLink {
    color: #FFCC00;
    margin-left: 5px;
}

h1 {
    margin: 1em 1ex 0.5ex 0;
    font-size: 1.4em;
}

h2 {
    margin: 1em 1ex 0.5ex 0;
    font-size: 1.3em;
}

h3 {
    margin: 1em 1ex 0.5ex 0;
    font-size: 1.0em;
}

h4 {
    margin: 1em 1ex 0.5ex 0;
    font-size: 0.9em;
}

#headerSubtitle {
    font-size: 0.75em;
    font-style: italic;
    margin-left: 1em;
}

body {
    background-color: #555;
}

#content {
    background-color: #555;
    color: #FFF;
    clear: both;
    margin: 0;
    padding: 0;
}

#main {
    margin: 0 0 0 5px;
    max-width: 50em;
    padding: 1.5em;
}

.left {
    float: left;
    margin: 0;
    padding: 0;
}

.right {
    float: right;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}
